<!doctype html>
<html lang="en">

<head>
<link rel="stylesheet" href="{{=URL('static','css/cssmenu/styles.css')}}">
<link rel="stylesheet" href="{{=URL('static','css/coin.css')}}">
<link rel="stylesheet" href="{{=URL('static','css/bootstrap-responsive.min.css')}}">

<meta charset="utf-8" />
<title>Coinpay</title>

</head>
 <!-- HEADER --> 
<div id="cssmenu">
    <ul>
       <li class='active'><a href="{{=URL('index')}}"><span>Coinpay</span></a></li>
       <li><a href="{{=URL('settings')}}"><span>Settings</span></a></li>
       <li><a href="{{=URL('statistics')}}"><span>Statistics</span></a></li>
       <li class='last'><a href='#'><span>Vendor ID #{{=vendor_id}}</span></a></li>
       <li style="position:relative; top:10px; left:550px;"> 
       <img src="{{=URL('static','images/coin_logo.png')}}" 
       style="width:50px; height:50px; position:fixed; right:50px; top:5px;"></li>
    </ul>
</div>


<!-- PRICE INPUT-->
<h1 id="price_header"> Total Price:</h1>

<div>
  <input id="price_input"></input> 
  <button id="btn_qr_hide" class="btn" type ="submit">Hide QR</button>
</div>

<div class="container">
    <ul id="list">

    </ul>
</div>



 <!-- BUTTONS--> 
 <ul id="btn_form">
      <li  style="display:inline;"> <button id="btn_trns" class="btn" type ="submit"> VERIFY PAYMENT</button></li>
      <li  style="display:inline;"> <button id="btn_qr_show" class="btn" type ="submit">GRAB QR</button></li>
</ul>

<div id="linelist" class="container">
<div >
<span><input class="inputs"  name= "newitem" id="newitem"  type="text" class="input-box" placeholder="add item"/>
<input  class="inputs" name= "numitem" id="numitem" type="text" class="input-box" placeholder="quantity"/>
<output name= "itemprice" id="itemprice" type="text" class="text"/> 0.0 </output>
<output name= "totalprice" id="totalprice" type="number"/> 0.0 </output></span>

<button id="additem" style="position:relative; left:50px;" >+</button> 

<ul id="productlist"  >
     {{for product in products:}}
     <li id="product">{{=product.name}} </li> 
     {{pass}}
</ul>
</div>

    <div id="items"><ul >
     <li class="lineitemfront" >Product Name</li>
     <li class="lineitem" >Quantity</li>
     <li class="lineitemtotal" >Total</li>
    </ul></div>
     <div> <button id="clear" class="btn" type ="submit">CLEAR</button></div>



</div>




 <!-- HIDDEN QR IMAGE--> 
<div id="qrcode"></div>
{{include 'web2py_ajax.html'}}

<!-- SCRIPTS 
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
-->
<script src="{{=URL('static','js/qr/qrcode.js')}}" type="text/javascript"></script>    
<script src="{{=URL('static','js/point_of_sale.js')}}" type="text/javascript"></script>    

<!--JQuery Stuff-->
<script>
$( document ).ready(function() {
  $("#qrcode").hide();
  $("#productlist").hide();
  $("#btn_qr_hide").hide();
  
   $("#clear").click(function(){
       $(".item").empty();
   });

   $("#btn_trns").click(function(){
      var required_value = parseFloat($("#price_input").val());
      if(Math.abs(required_value-curr_transaction) < .01){
        $("#list li:nth-child(1)").first().css("background-color","green");
      } else{
        $("#list li:nth-child(1)").first().css("background-color","red");
      }
   } );



    $("#btn_qr_show").click(function(){ 
       jQuery.ajax({
         method:'post',
         url: '{{=URL('get_address')}}',
         success: function(data){
           $.get("https://bitpay.com/api/rates",function(response){
                var address= data;
                var amount = parseFloat($("#price_input").val())/ parseFloat(response[0].rate);
                var str_amount = amount.toFixed(6);
                var qr_str = "bitcoin:"+address + "?amount=" +str_amount;
                console.log(qr_str);
                var qrcode = new QRCode("qrcode",  
                      {text: qr_str,
                      width: 500,
                      height: 500,
                      colorDark : "#000000",
                      colorLight : "#ffffff",
                      correctLevel : QRCode.CorrectLevel.H});
                $("#qrcode").show(); 
                $("#btn_qr_hide").show();
                $("#list").hide();
                $("#btn_form").hide();
                $("#cssmenu").hide();
                $("#price_header").hide();
          });
        }
      });
    });

    $("#btn_qr_hide").click(function(){
      $("#qrcode").hide();
      $("#qrcode").empty(); 
      $("#btn_qr_hide").hide();
      $("#list").show();
      $("#btn_form").show();
      $("#cssmenu").show();
      $("#price_header").show();

    });

  


});
</script>

<script>
window.setInterval(get_data,5000);
var past =0;
function get_data(){    
   jQuery.ajax({
     method:'post',
     url: '{{=URL('get_address')}}',
     success: function(data){
      var address=data;
      //get conversion rate
      $.get("https://bitpay.com/api/rates",function(response){
         var average_conv = response[0].rate;  
         var now = new Date()
         now = now.getTime();
         if(now > past+30000){
           jQuery.ajax({
                method:'post',
                url: '{{=URL('add_conv')}}',
                data:{'conv':average_conv},
                success: function(data){
                  console.log("add_conv:return= " + data);
                }
            });
          }
          past = now;
          console.log("getdata:"+average_conv);
          console.log("getdata:"+address);
         
          //get 5 transactions and update page
          store_txs(response,address,average_conv);
 
      });
  }});
     
}

function store_txs(response,address,average_conv){
    $.get( (api_address+address), function(response){
       var new_data = update_transaction_list(response,average_conv,new_data);
       var len = response.data.txs.length;
       if(new_data){
           console.log("storing transactions");
           jQuery.ajax({
             method:'post',
             url: '{{=URL('add_exchange')}}',
             data:{'value0': response.data.txs[len-5].value*average_conv,
                  'time0':response.data.txs[len-5].time,
                   'value1': response.data.txs[len-4].value*average_conv,
                   'time1':response.data.txs[len-4].time,
                   'value2': response.data.txs[len-3].value*average_conv,
                   'time2':response.data.txs[len-3].time,
                   'value3': response.data.txs[len-2].value*average_conv,
                   'time3':response.data.txs[len-2].time,
                   'value4': response.data.txs[len-1].value*average_conv,
                   'time4':response.data.txs[len-1].time},
            success: function(data){
              console.log("add_exchange:return=" +        data  );
            }
           });
         }     
    });
}

function get_price(choosen){
     ajax('{{=URL('get_price')}}+"?choosen=' + choosen,[],'itemprice');
}

</script>
<script src="{{=URL('static','js/coin.js')}}" type="text/javascript"></script>
</html>
