html{
  background :black;
}
 h1{
   color:white;
   font-family: sans-serif;
   font-size: 80px;
   width: 600px;
   height: 50px;
 }

 h2{
   color:white;
   font-family: sans-serif;
   font-size: 20px;
   width: 600px;
   height: 50px;
 }
 div{
   color:white;
   font-family: sans-serif;
   font-size: 15px;
   width: 800px;
 }

  .btn {
    width:300px;
    height:100px;
    border:solid;
    border-color:black;
    background: #7f8c8d;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    }

   .btn:hover {
     background: #b3b7ba;
     background-image: -webkit-linear-gradient(top, #b3b7ba, #3e4042);
     background-image: -moz-linear-gradient(top, #b3b7ba, #3e4042);
     background-image: -ms-linear-gradient(top, #b3b7ba, #3e4042);
     background-image: -o-linear-gradient(top, #b3b7ba, #3e4042);
     background-image: linear-gradient(to bottom, #b3b7ba, #3e4042);
     text-decoration: none;
   }

   #btn_form {
    position:fixed;
    top : 100px;
    left : 500px;
   }
   
 
   #mover {
    border: 2px solid; text-align: center; width:300px; padding: 30px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial,
                 "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: white; 
    list-style-type: none; }  

 #linelist{
      position:fixed;
      background: #000000;
      border:solid;
      border-color:white;
      left : 550px;
      top:250px;
 } 

 .lineitem{
       display:inline;
       font-family: 'Open Sans', sans-serif;
       font-weight: bold;
       color:white;
       margin:10px;
       text-align: center;
  }

 #list{
     position:relative;
     left:-50px;
     width: 200px;
 }
 #calc{
   position:relative;
   left :600px;
 }

 #price_input{
   position:relative;
   font-family: sans-serif;
   font-size: 80px;
   width: 500px;
   height: 100px;
 }


 #qrcode {
     position:fixed;
     width:500px;
     height:500px;
     border:solid;
     border-color:white;
     border-width: 10px;
 }


#productlist{
    color: white;
    background:#7f8c8d;
    position : relative;
    top :-50px;
    left :55px;
    width: 100px;
    margin: 0px;
    padding: 5px;
    list-style-type: none;
    box-shadow: 2px 2px 2px #888888;

}